* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
  }
  
  header {
    padding: 30px;
    border-bottom: 4px solid #7534d1;
    margin-bottom: 25px;
    color: white;
    background-color: #9e57d1;
    text-align: center;
  }
  
  main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  section {
    padding: 20px;
    border: 2px solid grey;
    margin-bottom: 25px;
    background-color: white;
  }

  .content-card {
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  }

  form {
    max-width: 500px;
  }
  
  label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    color: white;
    background-color: #9e57d1;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  th,
  td {
    padding: 12px;
    border: 1px solid grey;
    text-align: left;
  }
  
  th {
    color: white;
    background-color: #9e57d1;
  }

  tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }